<%-include("partials/header")-%>
<%-include("partials/aboutusfavicons/favicons")-%>
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .heading1{
      margin-top: 10%;
    }
    .signup {
      margin-left: 10px;
      padding-left: 23px;
      padding-right: 23px;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    h1{ 
  display: block;
  font-size: 4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.container {
  display: flexbox;
  justify-content: left;
}
.center {
  width: 800px; 
  height: 60px;
  padding: 10px;
  background: #e4e9f3;
  color: #fff;
  font-family: 'Calibri';
}



  </style>
  <!-- Custom styles for this template -->
  <link href="starter-template.css" rel="stylesheet">
</head>

<body>
  <header>
    <%-include("partials/navbar")-%>
  </header>

<!-- ______________________________________________________________
______________________________________________________________main content
______________________________________________________________
 ______________________________________________________________ -->
 <div>
 </br>
</br>
   <h1 style="background-color:rgb(203, 207, 190); text-align:center" > Eligibility</h1>

 </div>
<div class="page-subtitle">
  <p style="color: rgba(37, 12, 180, 0.986);
  text-indent: 30px;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size:3em;
" >Donating blood can be a confusing process – we get it.</p>
</div>
<div>

<p style="text-indent: 30px; display: block;
 margin-top: 0em;
margin-bottom: 2em;
margin-left: 2em; " ><strong>Some health conditions, medications, and travel locations may temporarily or permanently prevent people from donating blood.</br> Eligible donors are in good health, at least 17 years old, and weigh at least 115 pounds(>53Kg) (for whole blood donations). or 110 pounds (for platelet donations).</strong></p>
 </div>
</br>
<p style="color: rgba(235, 13, 31, 0.966);text-indent: 10px;
display: block; "><strong>Below are the most common eligibiity questions.</strong></p>
</br>




<!-- Medical conditions div tag-->
<div style="background-color: rgba(241, 244, 245, 0.829)";>
<h2 style="text-align:center;display: block; color:rgb(11, 66, 216);background-color: rgb(200, 226, 107);">MEDICAL CONDITIONS</h2>
</br>
<h5 style="color:rgb(4, 96, 99);"><strong>Can I donate if:</strong></h5>


<div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I HAVE LEUKEMIA, LYMPHOMA OR ANOTHER HEMATOLOGICAL MALIGNANCY?--------
      <i>
                Cannot Donate</i></b>
    </strong></h3></div>


  <div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I HAVE BASAL CELL CARCINOMA?--------
      <i>
                You can donate as early as one day after removal</i></b>
    </strong></h3></div>




<div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I HAVE CANCER?--------
      <i>
        If it has been   more than 2 years since the end of your treatment, you may be able to donate. Please contact to doctor firstly.</i>
      </b></strong></h3></div>
    
    <div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong> <b>I HAVE COLD OR FLU SYMPTOMS?
      <i>Wait until you have felt well at least for one day.
      </i></b>
    </strong></h3></div>



    <div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I AM PREGNANT?-------
      <i>
        You must wait until 6-weeks post-delivery.
      </i></b>
    </strong></h3></div>


    <div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I HAVE SYPHILIS OR GONORRHEA?--------<i>You may donate 3 months later.
      </i></b>
    </strong></h3></div>



    <div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I HAVE AIDS/HIV?-------
      <i>Regrettably, you cannot donate.
      </i></b>
    </strong></h3></div>



    <div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I HAVE HAD HEPATITIS EXPOSURE OR HEPATITIS B IMMUNE GLOBULIN SHOT?
------------
      <i>You may donate 12 months later.
      </i></b>
    </strong></h3></div>



    <div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I HAVE A LOW HEMOGLOBIN/HEMATOCRIT LEVEL?------------
      <i>Wait one day for levels to rise.
      </i></b>
    </strong></h3></div>
</div>
    
<h2 style="text-align:center;display: block; color:rgb(11, 66, 216);background-color: rgb(200, 226, 107);">MEDICAL PROCEDURES.</h2>
</br>

<h5 style="color:orangered;"><strong>Can I donate if:</strong></h5>


<div style=" width: 1000px;
  border: 5px solid orangered;padding: 5px;
    margin: 20px; "><h3 style="color:gray"><strong><b>I HAVE A PACEMAKER OR IMPLANTED DEFIBRILLATOR?--------
      <i>Cannot Donate.
                </i></b>
    </strong></h3></div>


    <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I HAD HEART SURGERY DUE TO HEART ATTACK?----------
        <i>You may be able to donate 12 months after a heart attack.
                  </i></b>
      </strong></h3></div>
  


      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>>I HAD A COLONOSCOPY?------------
        <i>You may donate if you have had a recent colonoscopy.
                  </i></b>
      </strong></h3></div>
  


      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I RECEIVED A BLOOD TRANSFUSION, SKIN GRAFT OR TISSUE TRANSPLANT?-----------
        <i>You may donate 3 months later.
                  </i></b>
      </strong></h3></div>
  


      <h2 style="text-align:center;display: block; color:rgb(11, 66, 216);background-color: rgb(200, 226, 107);">MEDICATIONS.</h2>
</br>

<h5 style="color:rgb(22, 173, 179);"><strong>Can I donate if:</strong></h5>



      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I AM ON ANTIBIOTICS FOR AN INFECTION?----------
        <i>Wait until 1-day after completion and no signs or symptoms of infection remain.
                  </i></b>
      </strong></h3></div>
  


      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I AM ON ASPIRIN, FELDENE, PIROXICAM OR ANY ASPIRIN-CONTAINING PRODUCT?-----------
        <i>There is no wait if you are donating whole blood. A 48-hour wait for apheresis platelet donation.
                  </i></b>
      </strong></h3></div>
  



      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I AM ON AN EXPERIMENTAL MEDICATION?-------------
        <i>You may donate 12-months after completion.
                  </i></b>
      </strong></h3></div>
  


      <h2 style="text-align:center;display: block; color:rgb(11, 66, 216);background-color: rgb(200, 226, 107);">VACCINATIONS.</h2>
</br>
</br>
<h5 style="color:rgb(22, 173, 179);"><strong>Can I donate if:</strong></h5>
</br>



      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I JUST RECEIVED A FLU SHOT?------------
        <i>Yes!
                  </i></b>
      </strong></h3></div>
  


      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I JUST RECEIVED THE SMALLPOX VACCINATION?--------
        <i>Wait 8 weeks.
                  </i></b>
      </strong></h3></div>
  


      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I JUST RECEIVED THE HEPATITIS B VACCINATION?---------
        <i>Wait two weeks.
                  </i></b>
      </strong></h3></div>
  


      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I RECEIVED AN UNLICENSED VACCINE?-------------
        <i>Wait one year.
                  </i></b>
      </strong></h3></div>
  


      <div style=" width: 1000px;
    border: 5px solid orangered;padding: 5px;
      margin: 20px; "><h3 style="color:gray"><strong><b>I RECEIVED ANY OTHER VACCINATION?--------------
        <i>Consult to a  doctor.
                  </i></b>
      </strong></h3></div>
  



    <%-include("partials/footer")-%>
    </br>
    </br>
    
    <footer>
      
      <div class="footer-main">
      <div class="container-fluid">
          <div class="row">
              <nav class="social-links col-xl-3" data-context="social-links">
                  
                      
              </nav>
              <nav class="footer-links col-xl-9" data-context="footer-links">
                  <span class="copyright">© 2020  The Blood Connect Website</span>
                  
                      <a data-aa-footer-link="Footer Link Not Set" href="/" target="_blank">   Home |          </a>
                  
                      <a data-aa-footer-link="Footer Link Not Set" href="/signup""> Sign-Up|</a>
    
                      <a data-aa-footer-link="Footer Link Not Set" href="/signin" target="_blank">  Sign-In|            </a>
                  
                  
                      <a data-aa-footer-link="Footer Link Not Set" href="/aboutus">About Us|</a>
    
    
                      <a data-aa-footer-link="Footer Link Not Set" href="/eligible">Am I Eigible To donate?</a>
                  
                     
                  
              </nav>
          </div>
      </div>
    </div>
    
    </footer>
  





    
    

    
    








